@page "/Dashboard"

@using Microsoft.AspNetCore.SignalR.Client
@using UrlShortener.Models
@using UrlShortener.DTOs
@inject UrlShortener.Frontend.Services.IUrlService UrlService
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject HttpClient Http
@implements IAsyncDisposable

<h1>Dashboard</h1>
@if(anyErrors){
    <h2>ERRORS</h2>
}
else{
    <table>
        <tr>
            <th>Id</th>
            <th>Original Url</th>
            <th>Slug</th>
            <th>Times clicked</th>
        </tr>
    @foreach (ShortUrl url in urls)
    {

        <tr>
            <th>@url.Id</th>
            <th>@url.OriginalUrl</th>
            <th>@url.Slug</th>
            <th>@url.Clicks</th>
            <th><button @onclick="() => HandleCopy(url.Slug)">Copy</button></th>
            <th><button @onclick="() => HandleDelete(url.Id)">Delete</button></th>
            <th><button @onclick="() => HandleStats(url.Id)">Get stats</button></th>
        </tr>
    }
    </table>
    <a href="/create"><button>Create new Url</button></a>
}
@code {
    private HubConnection? _hub;
    bool anyErrors = false;
    List<ShortUrl> urls = new List<ShortUrl>();
    protected override async Task OnInitializedAsync()
    {
        await UpdateItems();
        var baseAddress = Http.BaseAddress?.ToString().TrimEnd('/') ?? "http://localhost:5112";
        _hub = new HubConnectionBuilder().WithUrl($"{baseAddress}/hubs/dashboard").WithAutomaticReconnect().Build();
        _hub.On<DashboardSocket>("UpdateUrlCounter", (DashboardSocket value) =>
        {
            urls.First(x => x.Id == value.UrlId).Clicks = value.NewCount;
            InvokeAsync(StateHasChanged);
        });
        await _hub.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hub is not null)
            await _hub.DisposeAsync();
    }

    public async Task HandleCopy(string slug){
        var baseAddress = Http.BaseAddress?.ToString() ?? "http://localhost:5112/";
        var hostOnly = baseAddress.Replace("http://", "").Replace("https://", "").TrimEnd('/');
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", $"{hostOnly}/{slug}");
    }

    public async Task HandleDelete(int id){
        var result = await UrlService.Delete(id);
        await UpdateItems();
    }

    public async Task HandleStats(int id){
        Nav.NavigateTo("/dashboard/" + id);
    }

    private async Task UpdateItems(){
        var result = await UrlService.GetAllUrls();
        if(result.IsAnyError()){
            anyErrors = true;
        }
        else{
            urls = result.Value!;
        }
    }
}