@page "/Dashboard"

@using UrlShortener.Models
@inject UrlShortener.Frontend.Services.IUrlService UrlService
@inject IJSRuntime JS

<h1>Dashboard</h1>
@if(anyErrors){
    <h2>ERRORS</h2>
}
else{
    <table>
        <tr>
            <th>Id</th>
            <th>Original Url</th>
            <th>Slug</th>
            <th>Times clicked</th>
        </tr>
    @foreach (ShortUrl url in urls)
    {

        <tr>
            <th>@url.Id</th>
            <th>@url.OriginalUrl</th>
            <th>@url.Slug</th>
            <th>@url.Clicks</th>
            <th><button @onclick="() => HandleCopy(url.Slug)">Copy</button></th>
        </tr>
    }
    </table>
}
@code {
    bool anyErrors = false;
    List<ShortUrl> urls = new List<ShortUrl>();
    protected override async Task OnInitializedAsync()
    {
        var result = await UrlService.GetAllUrls();
        if(result.IsAnyError()){
            anyErrors = true;
        }
        else{
            urls = result.Value!;
        }
    }

    public async Task HandleCopy(string slug){
        await JS.InvokeVoidAsync("navigator.clipboard.writeText", "localhost:5112/" + slug);
    }
}